<html>
    <center>
        <h1 style = "padding:30px; color: black; background: white; border: 1px solid black; border-radius:20px; width: 20%;">Categories</h1>
        <br>
        <div class="flickr_pagination">
            <%= will_paginate @categories, :container => false %>
        </div>
            <br>
                <div class="container">
                    <center>
                    <% @categories.each do |category| %>
                        <div class="row justify-content-md-center" style="border: 1.5px solid black;">
                        <div class="col-8 mt-4">
                        <br>
                            <div class="card text-center shadow mb-5 bg-white rounded", style="padding:30px; color: black; background: whitesmoke; border: 1px solid black; border-radius:10px; width: 50%;">
                            <div class="card-body">
                                <h5 class="card-title"><%= link_to category.name, category_path(category), class: "text-success" %></h5>
                                <p class="card-text" style="background:whitesmoke; width:100px; border: 1px solid black; border-radius: 10px;"><%=  pluralize(category.articles.count, "article") %></p>
                            </div>
                            <div class="card-footer text-muted">
                                <small>Created <%= time_ago_in_words(category.created_at) %> ago, 
                                edited <%= time_ago_in_words(category.updated_at) %> ago</small>
                            </div>
                            <br>
                            </div>
                            <br>
                        </div>
                        </div>
                    <% end %>
                    </center>
                    </div>
            <br>
        <div class="flickr_pagination">
            <%= will_paginate @categories, :container => false %>
        </div>
        <br>
    </center>
</html>