<center><h1 class="headings", style="width:300px;"> Category: <%= @category.name %></h1>
    <% if logged_in? && current_user.admin? %>
        <p class="smallheadings", style="width:300px;"><%= link_to "Edit category", edit_category_path(@category), class: "btn btn-outline-info" %></p>
    <% end %>
    <br><br >
    <h3 class="smallheadings"><%= @category.name %> articles</h3>

     <br>
        <div class="flickr_pagination">
            <%= will_paginate @articles, :container => false %>
        </div>

    <%= render 'articles/article' %>

    <br>
        <div class="flickr_pagination">
            <%= will_paginate @articles, :container => false %>
        </div>
     <br>
</center>