<!DOCTYPE html>
<html>
  <head>
  <div class="topnav">
    <a class="active"<%= link_to "Adarsh's Blog", adarsh_path, class: "btn btn-success btn-lg" %></a>
    <%= link_to "Home", root_path, class: "btn btn-success btn-lg" %>
    <%= link_to "Bloggers", users_path, class: "btn btn-success btn-lg" %>
    <%= link_to "About", about_path, class: "btn btn-success btn-lg" %>
    <% if logged_in? %>
      <%= link_to current_user.username, user_path(current_user),  class: "btn btn-success btn-lg" %>
      <%= link_to "Logout", logout_path, data: {'turbo-method': :delete },  class: "btn btn-success btn-lg" %>
    <% else %>
      <%= link_to "Login", login_path, class: "btn btn-success btn-lg" %>
      <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
    <% end %>
  </div>
      <title>Blog</title>
    <%
=begin%>
 <%= link_to 'Set Cookie', cookies_set_cookie_path %>
    <%= link_to 'Set Cookie', cookies_set_cookie_path, id: 'set-cookie-link' %> 
<%
=end%>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render 'layouts/flash' %>
    <%= yield %>
  </body>
 <%= javascript_include_tag 'set_cookie' %> 
</html>

<style>

body {
   margin: 0;
   padding: 0;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
</style>
